@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.body-overflow {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    ._container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    ._container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    ._container {
        max-width: 600px;
    }
}

@media (max-width: 650px) {
    ._container {
        max-width: 400px;
    }
}

@media (max-width: 440px) {
    ._container {
        max-width: 300px;
    }

}

/* ================section1================ */
.section1 {
    width: 100%;
    min-height: 100vh;
}

.section1 video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.section1 .content {
    display: flex;
    flex-direction: column;
}

.section1 .header {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    font-size: 23.04px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.88)
}

.section1 .content__post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    min-height: 100vh;
}

.section1 .text {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.section1 .text__item:not(:last-child) {
    margin-bottom: 48px;
}

.section1 .text__item-title {
    font-size: 19.2px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.88);
    margin-bottom: 12px;
}

.section1 .text__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.72);
}

@media only screen and (max-width: 1200px) {
    .section1 .content__post-header {
        display: flex;
        flex-direction: column;
    }

    .section1 img {
        width: 200px;
        height: 300px;
    }
}

/* ================section2================ */
.section2 {
    width: 100%;
    min-height: 100vh;
}

.section2 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.section2 .description {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section2 .item {
    display: flex;
    align-items: center;
    gap: 32px;
}

.section2 .item-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section2 .item-text_left {
    align-items: flex-end;
}

.section2 .item-title {
    font-size: 19.2px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: 262626;
}

.section2 .item-subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 150%;
    color: #404040;
}

.section2 .item-subtitle_left {
    text-align: right;
}

@media only screen and (max-width: 1000px) {
    .section2 .content {
        display: flex;
        flex-direction: column;
    }
}

/* ================section3================ */
.section3 {
    width: 100%;
    max-height: 100vh;
}

.item-content {
    position: relative;
    padding: 1.6rem 11rem;
    text-align: center;
    cursor: grab;
}

.img {
    margin-bottom: 24px;
    display: inline-block;
}

.img img {
    max-width: 80px;
    display: block;
    border-radius: 50%;
}

.review {
    margin-top: 32px;
    font-size: 16px;
    line-height: 160%;
    color: #404040;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .item-content {
        padding: 15px 20px;
    }

    .item-content::before {
        font-size: 140px;
    }

    .review {
        font-size: 14px;
        line-height: 28px;
    }
}

/* ================section4================ */
.section4 {
    width: 100%;
    min-height: 100vh;
}

.section4 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.section4 .text__item {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.section4 .text__item-title {
    font-size: 57.33px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.5px;
    color: #262626;
    margin-bottom: 32px;
}

.section4 .text__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #404040;
    margin-bottom: 48px;
}

.section4 .text__item-button {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.88);
    cursor: pointer;
    padding: 16px 56px;
    background-color: #6A1660;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.section4 .feature {
    display: flex;
    justify-content: space-between;
}

.section4 .feature__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(85, 166, 187, 0.8) 0%, rgba(85, 166, 187, 0.16) 100%);
    border: 1px none;
    border-radius: 4px;
    gap: 16px;
    width: fit-content;
    padding: 16px 32px;
}

.section4 .feature__item-title {
    font-size: 19.2px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #262626;
}

.section4 .feature__item-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 150%;
    color: #404040;
}

@media only screen and (max-width: 1000px) {
    .section4 .content {
        display: flex;
        flex-direction: column;
    }

    .section4 .text__item-title {
        font-size: 32px;
    }

    .section4 .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-top: 32px;
    }
}

/* ================section5================ */
.section5 {
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
}

.section5 .top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 32px;
}

.section5 .top-content {
    font-size: 23.04px;
    font-weight: 600;
    color: #262626
}

.section5 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section5 .right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.section5 .right-price__new {
    font-size: 82.56px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.5px;
    color: #b51919;

    background-image: linear-gradient(to right top, #33063B, #5d116b, #a03db2, #bed242, #d7ee29);
    background-size: 50% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnim 4s ease alternate infinite;
}

@keyframes gradientAnim {
    to {
        background-position: 100% top;
    }
}

.section5 .right-price__old {
    font-size: 23.04px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.5px;
    color: rgba(64, 64, 64, 0.64);
    text-decoration: line-through;
}

/* 
.section5 .form {
    max-width: 360px;
    padding: 80px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
} */

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 24px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 13.33px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #642B62;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 16px;
    color: #ffffff;
    font-size: 13.33px;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.5 ease;
    transition: all 0.5 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #80317d;
}

.input-field input+.input-tooltip {
    visibility: hidden;
    max-width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 16px 32px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    display: flex;
    float: left;
    float: top;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
}

.input-field .input-tooltip::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    top: 0%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    margin-top: -10px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.input-field input:focus+.input-tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 1000px) {
    .section5 .content {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .section5 .content img {
        height: 250px;
        width: 200px;
    }
}