@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.body-overflow {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1170px;
    margin: 0 auto;
}

/* ================section1================ */
.section1 {
    width: 100%;
    min-height: 100vh;
}

.section1 .video {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.section1 .header {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    font-size: 23.04px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.88)
}

.section1 .content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 .text {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.section1 .text__item {
    max-width: 570px;
}

.section1 .text__item:not(:last-child) {
    margin-bottom: 48px;
}

.section1 .text__item-title {
    font-size: 19.2px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.88);
    margin-bottom: 12px;
}

.section1 .text__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.72);
}

/* ================section2================ */
.section2 {
    width: 100%;
    min-height: 100vh;
}

.section2 .content {
    /* position: relative; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .center__img {
    z-index: 55;
}

.section2 .center__circle-1 {
    border: 1px solid;
    border-color: #404040;
    border-radius: 120px;
    height: 240px;
    /* left: 160px; */
    position: absolute;
    /* top: 160px; */
    width: 240px;
}

.section2 .center__circle-2 {
    border: 1px solid;
    border-color: #404040;
    border-radius: 200px;
    height: 400px;
    /* left: 160px; */
    position: absolute;
    /* top: 160px; */
    width: 400px;
}

.section2 .center__circle-3 {
    border: 1px solid;
    border-color: #404040;
    border-radius: 280px;
    height: 560px;
    /* left: 160px; */
    position: absolute;
    /* top: 160px; */
    width: 560px;
}


.section2 .compound__item{
    display: flex;
    align-items: center;
    gap: 36px;
    position: absolute;
}
.section2 .compound__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.section2 .compound__item-text {
    text-align: right;
}

.section2 .compound__icon {
    background-color: aquamarine;
    border: 1px none;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

/* ================section3================ */
.section3 {
    width: 100%;
    min-height: 100vh;
}

.section3 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.section3 .text__item {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.section3 .text__item-title {
    font-size: 57.33px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.5px;
    color: #262626;
    margin-bottom: 32px;
}

.section3 .text__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #404040;
    margin-bottom: 48px;
}

.section3 .text__item-button {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.88);
    cursor: pointer;
    padding: 16px 56px;
    background-color: #6A1660;
    border-radius: 4px;
}

.section3 .feature {
    display: flex;
    justify-content: space-between;
}

.section3 .feature__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(85, 166, 187, 0.8) 0%, rgba(85, 166, 187, 0.16) 100%);
    border: 1px none;
    border-radius: 4px;
    gap: 16px;
    width: fit-content;
    padding: 16px 32px;
}

.section3 .feature__item-title {
    font-size: 19.2px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #262626;
}

.section3 .feature__item-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 150%;
    color: #404040;
}
/* section4 */
